@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HtppContextAccessor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EShop</title>

    <link href="~/css/app.css" rel="stylesheet">
    <link href="~/css/hihi.css" rel="stylesheet">

    <link class="js-stylesheet" href="~/css/light.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/toastr.min.css" />

	 @* font wesam *@
	<link rel="stylesheet" href="~/css/all.min.css" />


</head>

<body>
	<div class="wrapper">

		@*sidebar*@
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/Customer/Home">
					<span class="align-middle">E-Shop</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Quản trị viên
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" asp-controller="Category" asp-action="Index" asp-area="Admin">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Bảng điều khiển</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
							<i class="far fa-list-alt"></i> <span class="align-middle">Quản lý danh mục</span>
						</a>
					</li>
					

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Company" asp-action="Index">
							<i class="fas fa-building"></i> <span class="align-middle">Quản lý dùng công ty</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
							<i class="fas fa-books"></i> <span class="align-middle">Quản lý sản phẩm</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Coupon" asp-action="Index">
							<i class="far fa-barcode-alt"></i> <span class="align-middle">quản lý mã giảm giá</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="User" asp-action="Index">
							<i class="fas fa-users-medical"></i> <span class="align-middle">Quản lý tài khoản</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
							<i class="far fa-bags-shopping"></i> <span class="align-middle">Quản lý đơn hàng</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Identity" asp-page="/Account/Manage/Index">
							<i class="align-middle" data-feather="users"></i> <span class="align-middle">Thông tin cá nhân</span>
						</a>
					</li>


				
				</ul>
			</div>
		</nav>

		<div class="main">

			@*header*@
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
								<i class="fas fa-user-circle"></i>
								@* <span class="text-dark">@Account?.AccountName</span> *@
							</a>
							<div class="dropdown-menu dropdown-menu-end">

								<a class="dropdown-item" asp-area="Customer" asp-action="Index" asp-controller="Home"><i class="far fa-home"></i> Trang chủ</a>
								@* <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="align-middle me-1" data-feather="user"></i> Profile</a> *@
							@* 	<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div> *@

								<a class="dropdown-item" href="javascript:void(0)" id="logout" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</a>
								<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })" method="POST">
								</form>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<partial name="_Notification" />

				@RenderBody()
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-12 text-center">
							<p class="mb-0">
								<a class="text-muted" href="#" target="_blank"><strong>© 2023-2023 E-Shop.</strong>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="~/js/app.js"></script>
		
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/ckeditor/ckeditor.js"></script>

	@* <script src="https://cdn.tiny.cloud/1/go2gbbh0374j92i5q8hajkjsq1odkk8u6lvre7w2yoeislth/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> *@
	<script src="~/assets/js/toastr.js"></script>
	<script src="/assets/js/sweetalert2@11.js"></script>
	<script src="/js/datatables.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
