@model Coupon

<div class="card shadow border-0 my-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2> @(Model.Id != 0 ? "Update" : "Create") Coupon</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row">
            <input asp-for="Id" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Code" class="form-control border-0 shadow" />

                            <label asp-for="Code" class="ms-2"></label>

                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Description" class="form-control border-0 shadow" rows="4"></textarea>

                            <label asp-for="Description" class="ms-2"></label>

                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="DiscountAmount" class="form-control border-0 shadow" />

                            <label asp-for="DiscountAmount" class="ms-2"></label>

                            <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="MinimumSpend" class="form-control border-0 shadow" />

                            <label asp-for="MinimumSpend" class="ms-2"></label>

                            <span asp-validation-for="MinimumSpend" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="StartDate" class="form-control border-0 shadow" type="date" />

                            <label asp-for="StartDate" class="ms-2"></label>

                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="EndDate" class="form-control border-0 shadow" type="date" />

                            <label asp-for="EndDate" class="ms-2"></label>

                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="MaxUseTimes" class="form-control border-0 shadow" />

                            <label asp-for="MaxUseTimes" class="ms-2"></label>

                            <span asp-validation-for="MaxUseTimes" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="UsedTimes" class="form-control border-0 shadow" disabled />

                            <label asp-for="UsedTimes" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="ApplyForAllProducts" class="form-check-input" type="checkbox" />

                            <label asp-for="ApplyForAllProducts" class="form-check-label ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox" />

                            <label asp-for="IsActive" class="form-check-label ms-2"></label>
                        </div>

                        <div class="row pt-2">
                            @if (Model.Id != 0)
                            {
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-dark form-control">Update</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-dark form-control">Create</button>
                                </div>
                            }
                            <div class="col-6 col-md-3">
                                <a asp-controller="Coupon" asp-action="Index" class="btn btn-outline-secondary form-control">Trở về</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
